<header>
    <p class="title">印刷</p>
    <div class="page">
        <div class="pagerArea">
            <div class="pager">
                <form [formGroup]="myControl">
                    <ul class="pagenation" style="margin: 0;">
                        <li><a href="#{{key}}" id="prev" link="140" (click)="moveToNextPage(-1)" aria-label="Previous">《</a></li>
                        <li>
                            <input (keydown)="onKeydown($event)" type="number" id="number" key="KeyId" [(ngModel)]="key" matInput matType="number" formControlName="number2" class="pageNum">
                        </li>
                        <li style="margin-top:6px;">/{{count}}</li>
                        <li><a href="#{{key}}" id="next" (click)="moveToNextPage(1)" aria-label="Next">》</a></li>
                    </ul>
                    <a href="#{{key}}" id="link"></a>
                </form>
            </div>
        </div>
    </div>
    <div>
        <form>
            <select [(ngModel)]="printlist.selectedIndex" (ngModelChange)='onSelectChange($event.target.value)' name="first">
        <option *ngFor="let item of PrintIndex" [value]="item.id" [selected]="1">
          {{item.name}}
        </option>
      </select>
        </form>
    </div>
    <div class="slider">
        <a href="#1">1</a>
        <a href="#2">2</a>
        <a href="#3">3</a>
        <a href="#4">4</a>
        <a href="#5">5</a>
    </div>
    <div class="button-area">
        <button (click)="print()" class="print-button"><i class="fi fi-print"></i></button>
        <button (click)="close()" class="dialog-close-button">×</button>
    </div>
</header>

<div #print_section id="print_section" class="HtmlPage">
    <app-test-html (event)="onReceiveEventFromChildScroll($event)"></app-test-html>
</div>

<!-- <body style="text-align:center;">

    <h1 style="color:green;">
        GeeksForGeeks
    </h1>

    <p id="GFG_UP" style="font-size: 15px; font-weight: bold;">
    </p>

    <textarea id="t"> 
        GeeksforGeeks is a Computer Science 
        portal for geeks. It contains well 
        written, well thought and well  
        explained computer science and 
        programming articles, quizzes etc.  
        It also contains the practice section 
        which is helpful for practicing the 
        data structure and algorithms 
        questions. GeeksforGeeks provides 
        placement course, DSA class, Machine 
        learning class and other online and 
        offline courses which will help in 
        placement and also growing the 
        knowledge. 
    </textarea>

    <br>

    <button (click)="gfg_Run()">  
        click here 
    </button>

    <p id="GFG_DOWN" style="color:green; 
        font-size: 20px; font-weight: bold;">
    </p> -->