<header>
    <p class="title">印刷</p>
    <div>
        <form>
            <select [(ngModel)]="printlist.selectedIndex" (ngModelChange)='onSelectChange($event.target.value)' name="first">
        <option *ngFor="let item of PrintIndex" [value]="item.id" [selected]="1">
          {{item.name}}
        </option>
      </select>
        </form>
    </div>
    <div class="slider">
        <a href="#slide-1">1</a>
        <a href="#slide-2">2</a>
        <a href="#slide-3">3</a>
        <a href="#slide-4">4</a>
        <a href="#slide-5">5</a>
    </div>
    <div class="button-area">
        <button (click)="print()" class="print-button"><i class="fi fi-print"></i></button>
        <button (click)="close()" class="dialog-close-button">×</button>
    </div>
</header>

<div #print_section id="print_section" class="HtmlPage">

    <app-test-html></app-test-html>

</div>