#scroll-box1 {
    overflow: scroll;
    height: 100px;
    border: 1px solid black;
}

#scroll-contents {
    height: 700px;
}

.full-width {
    width: 200px;
    height: 200px;
    overflow: auto;
}

.double-width {
    width: 400px;
    height: 100%;
}