<button (click)="htmlViewerOpen()">Print Preview</button>

<router-outlet></router-outlet>

<div id="infoFrame" class="FloatInfo"></div>
<div>
    <div style="height:120px;background-color:#808080">コンテンツ</div>
    <div style="height:120px;background-color:#D0D0D0">コンテンツ</div>
    <div style="height:120px;background-color:#808080">コンテンツ</div>
    <div style="height:120px;background-color:#D0D0D0">コンテンツ</div>
    <div style="height:120px;background-color:#808080">コンテンツ</div>
    <div style="height:120px;background-color:#D0D0D0">コンテンツ</div>
    <div style="height:120px;background-color:#808080">コンテンツ</div>
    <div style="height:120px;background-color:#D0D0D0">コンテンツ</div>
</div>